.container-kommenta-inline {
    display: flex;
    width: 380px;
    min-width: 380px;
    min-height: 9px;
    max-height: 9px;
    align-items: center;
    justify-items: center;
    height: 100%;
    position: relative;
}
.container-kommenta-inline .emotion-reaction {
    display: flex;
    cursor: pointer;
    width: 100%;
    min-width: 10% !important;
    height: 8px;
    transition: 0.15s all ease-in-out;
}
.container-kommenta-inline .emotion-reaction:hover {
    width: 170%;
    transform: scaleY(1.3);
}
.total-vote-count {
    font-size: 12px;
    min-width: 90px;
    padding: 0px 15px;
    color: grey;
}
.container-kommenta-inline .emotion-reaction:first-child {
    border-radius: 20px 0px 0px 20px;
}
.container-kommenta-inline .emotion-reaction:last-child {
    border-radius: 0px 20px 20px 0px;
}
.toast-comment[type-toast="success"] {
    background: rgba(15, 145, 15, 0.37);
    color: rgb(15, 145, 15);
}
.toast-comment[type-toast="failure"] {
    background: rgba(145, 15, 21, 0.37);
    color: rgb(45, 15, 21);
}
.toast-comment.show-toast {
    opacity: 1;
    transform: translateY(0px);
    display: block;
}
.toast-comment {
	display: none;
    opacity: 0;
	position: absolute;
	left: 0px;
    user-select: none;
    transform: translateY(10px);
	top: -43px;
    font-weight: 600;
	padding: 2px 14px;
	font-size: 13px;
	background: rgba(0, 0, 0, 0.4);
	color: white;
    transition: 0.15s all ease-in-out;
	border-radius: 7px;
	backdrop-filter: blur(2px);
}
.emotion-tooltip {
    display: flex;
    position: absolute;
    border-width: 3px;
    border-color: red;
    backdrop-filter: blur(4px);
    opacity: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    z-index: 99;
    gap: 10px;
    border-radius: 5px;
    background: #1b1b1ba9;
    user-select: none;
    transform: translateY(40px);
    padding: 5px 9px;
    top: 20px;
    transition: 0.2s opacity ease-in-out, 0.25s transform ease-in-out;
}
.badge-emotion {
    display: inline-block;
    position: relative;
    height: 7px;
    transition: 0.25s all ease-in-out;
    width: 7px;
    border-radius: 100%;
    background: red;
}
.emotion-name {
    color: white;
    font-size: 0.9em;
}
.loader-comment {
    display: none;
    position: absolute;
    right: 10px;
    height: 19px;
    top: -50%;
    opacity: 0.7;
    animation: rotate_infinite 1.5s linear 0s infinite;
}
@keyframes rotate_infinite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}